*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Handlee', cursive;
    font-weight: 900;
}
.form
{
    background-color: #8080809a;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 1535px;
    height: 729px;
    justify-items: center;
    align-items: center;
}
.Calculator
{
    background-color: #ffffffda;
    border: 2px solid #000;
    width: 500px;
    height: 300px;
}
.inside_form
{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    justify-items: center;
    align-items: center;
}
.instruction
{
    text-align: center;
}
.result
{
    text-align: center;
}