*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: auto;
    width: 100%;
}
.container
{
    height: 100%;
    width: 100%;
    padding: 2.4rem;
    display: grid;
    gap: 1rem;
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    background: linear-gradient(to right, #D7DDE8, #757F9A);
    /* grid-template-columns: repeat(4, 1fr); */
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 500px));*/
    grid-template-areas: 
    "header header header"
    "sidebar content1 content1"
    "sidebar content2 content3"
    "footer footer footer"    ;
} 
.item
{
    padding: 1rem;
    border: 3px solid black;
    border-radius: 4px;
}
#header
{
    grid-area: header;
}
#sidebar
{
    grid-area: sidebar;
}
#content1
{
    grid-area: content1;
}
#content2
{
    grid-area: content2;
}
#content3
{
    grid-area: content3;
}
#footer
{
    grid-area: footer;
}