*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: auto;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
a
{
    text-decoration: none;
}
p
{
    padding: 0.3rem;
    padding-left: 0;
}
span{
    padding: 1rem;
}
.container
{
    max-width: 80vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header
{
    margin: 2rem;
}
#headtitle
{
    margin: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
#headpara
{
    max-width: 500px;
    margin: 0.5rem auto;
    font-size: 1rem;
    color: rgb(51, 45, 45);
    text-align: center;
}
.main
{
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 380px));
    /* grid-template-rows: repeat(4,1fr); */
    margin: 10px auto;
}
.item
{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1%;
}
.image
{
    position: relative;
    overflow: hidden;
    height: 15rem;
}
.card_image
{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.description
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.item:hover .card_image
{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title
{
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: black;
}
.head_anchor:hover .card_title
{
    color: rgb(79, 79, 166);
}
.card_description
{
    color: darkslategrey;
    font-size: 0.8rem;
    padding-bottom: 3px;
}
.card_footer_container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.author_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.1rem;
    /* border: 0.3px solid rgb(45, 44, 44);
    border-radius: 1px; */
    padding: 3px;
}
.avatar_container
{
    /* position: relative; */
    overflow: hidden;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: grey;
    /* padding-left: 5px; */
}
.avatarimg
{
    object-fit: cover;
    object-position: center;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    
}
.avatar_info_container
{
    font-size: 11px;
    font-weight: 100;
    line-height: 1rem;
    /* display: flex;
    flex-direction: column; */
    /* gap: 0.5px; */
    /* justify-items: center; */
}
.card_head
{
    padding-bottom: 1rem;
}
.card_tag_container
{
    padding-top: 1rem;
}
.cardtag
{
    font-size: 0.9rem;
    line-height: 1rem;
    border: 1px solid rgb(64, 63, 63);
    border-radius: 5px;
}
.authname
{
    color: rgb(0, 94, 255);
}